body{
    margin: 0px  10px 0px 10px;
    font-family: sans-serif;
    background-color: rgb(44, 41, 41);
    color:aliceblue
   
}
h1{
    text-align: center;
}

.list,p,.cardio{
    
    padding: 20px  ;
    border-radius: 5px;
    list-style-type: none;
    background-color: rgb(57, 57, 57);
}
.link{
    text-decoration: none;
    color:rgb(107, 189, 255)
}