

/* transform and transition*/
.card-example{
    position:relative;
    width:300px;
    height:400px;
  }
  .card-1{
    position:absolute;
    width:100%;
    height:100%;
    transform-style: preserve-3d; /*create move efect of both sides*/
    transition:all .9s ease;
    
  }
  .card-1:hover{
      transform: rotateY(180deg);/* create and effect of rotation */
  }
  .side-front{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    background-color: rgb(76, 118, 77);
    color:goldenrod;
    text-align: center;
    font-family:sans-serif;
    font-weight:bold;
    font-size:24px;
    border-radius:  30px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .side-back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    background-color: goldenrod;
    color:black;
    transform: rotateY(180deg);
    text-align: center;
    font-weight:bold;
    font-size:24px;
    font-family: sans-serif;
    border-radius:  30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* animation */


.container {
    height: 25vmin;
    width: 25vmin;
    background-color: teal;
}
.page-body {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.container {
    height: 25vmin;
    width: 25vmin;
    background-color: teal;
}
.container-one {
    padding: 1vmin;
}

.orbiting-circle {
    height: 25%;
    width: 25%;
    background-color: darkred;
    border-radius: 50%;
    animation: orbit 3s linear infinite;
}
@keyframes orbit {
    0% { transform: translate(0,0); }
    5% { transform: translate(0,0); } /* don't change for 5% of the time...pause */
    25% { transform: translate(300%,0%); } /* start moving again */
    30% { transform: translate(300%,0%); } /* pause */
    50% { transform: translate(300%,300%); } /* move */
    55% { transform: translate(300%,300%); }
    75% { transform: translate(0%,300%); }
    80% { transform: translate(0%,300%); }
    100% { transform: translate(0%,0%); }
}

.container-two {
	display: flex;
	justify-content: center;
	align-items: center;
}

.morphing-circle {
    height: 25%;
    width: 25%;
    background-color: red;
    background-color:darkred;	
    border-radius: 50%;
    transition: border-radius .5s ease, background-color .5s ease, transform .5s ease .5s;
    animation: morphing-circle-square 3s linear infinite;
}
.container-two:hover .morphing-circle {
    border-radius: 0;
    background-color:  white;
    transform: rotate(90deg);
}
@keyframes morphing-circle-square {
    0% {border-radius: 50%}
    25% { /*(if you don't add both red and circle here it will start changing one or the other before you are ready) */
        border-radius: 50%;
        background-color: darkred;
    }
    50% { /* now change to white square...but don't start rotating yet! */
        border-radius: 0%;
        background-color: white;
        transform: rotate(0deg);
    }
    75% { /* stay a white square, but rotate 90deg */
        border-radius: 0%;
        background-color: white;
        transform: rotate(90deg);   
    }
    100% { /* stay rotated at 90, but change back to a circle */
        border-radius: 50%;
        background-color: darkred;
        transform: rotate(90deg);
    }
}


.container-three{
  display: flex;
	justify-content: center;
	align-items: center;
}

.dividing-circle-left{
   height: 25%;
    width: 12.5%;
    background-color: darkred;
   border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  animation: slideleft 4s ease forwards infinite;
    
}
.dividing-circle-right{
   height: 25%;
    width: 12.5%;
    background-color: darkred;
   border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
   animation: slideright 4s ease forwards infinite;
    
}
@keyframes slideleft{
    0%{
        transform: translate(0px);
    }
    25%{
        transform: translate(-20px);
    }
    50%{
        transform: translate(0px);
    }
    100%{

    }
}

@keyframes slideright{
    0%{
        transform: translate(0px);
    }
    25%{
        transform: translate(20px);
    }
    50%{
        transform: translate(0px);
    }
    100%{

    }
}
 /*SVG*/
 .circle-in {
    fill: red;
  }
  
  .rect-in {
    fill: white;
  }
  
  .poligon {
    fill: white;
  }


/* drag and drop style*/
.fill-box {
    background-image: url("https://picsum.photos/200");
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .emptyBox {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border-radius: 10px;
    background: white;
  }
  
  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }

  
  
  